* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 32px;
  font-family: var(--font_poppins);
}

:root {
  --color_purple: hsl(259, 100%, 65%);
  --color_ligth_red: hsl(0, 100%, 67%);
  --color_white: hsl(0, 0%, 100%);
  --color_off_white: hsl(0, 0%, 94%);
  --color_ligth_grey: hsl(0, 0%, 86%);
  --color_smokey_grey: hsl(0, 1%, 44%);
  --color_off_black: hsl(0, 0%, 8%);
  --font_poppins: 'Poppins', sans-serif;
}

body {
  background-color: var(--color_ligth_grey);
}

.container {
  background-color: var(--color_white);
  margin: 7%;
  padding: 1px 30px 10px 30px;
  border-radius: 40px;
  border-bottom-right-radius: 120px;
}

.container-top {
  display: flex;
  gap: 25px;
  margin: 40px 0;
}

.name-fecha {
  font-size: .45em;
  color: var(--color_smokey_grey);
  letter-spacing: 3px;
}

.container-top__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.number-fecha {
  width: 100%;
  border: 1px solid var(--color_smokey_grey);
  border-radius: 8px;
  font-size: .7em;
  height: 55px;
  padding-left: 20px;
}

.error {
  font-size: .35em;
  color: var(--color_ligth_red);
}

.error-day-none, .error-month-none, .error-year-none {
  display: none;
}

.border-error {
  border: 1px solid var(--color_ligth_red);
  outline: 2px solid var(--color_ligth_red);
}

/* ------- */
.container-icon {
  border-top: 2px solid var(--color_ligth_grey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0;
}

.background-icon {
  background-color: var(--color_purple);
  display: inline-block;
  border-radius: 50%;
  padding: 12px 19px 8px 19px;
  margin: -35px;
  &:hover {
    cursor: pointer;
  }
}

.icono {
  width: 30px;
  font-weight: bold;
}

/* --------- */
.item-resultado {
  line-height: 65px;
  font-style: italic;
  font-weight: bold;
}

.numero-resultado {
  color: var(--color_purple);
  font-size: 2em;
}

.nombre-resultado {
  font-size: 1.8em;
}